<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PerfHelperConfig" type="PerfHelper.Config.PerfHelperConfig, PerfHelper" />
  </configSections>
  <!-- FIXME: Parameters ForceInstancesW3wp and ForceInstancesDTExec are not working yet -->
  <PerfHelperConfig
    ForceInstancesW3wp="w3wp,w3wp#1,w3wp#2" 
    ForceInstancesDTExec="DTExec,DTExec#1,DTExec#2"
    
    XmlTemplateStart="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;DataCollectorSet&gt;
	&lt;Status&gt;1&lt;/Status&gt;
	&lt;Duration&gt;0&lt;/Duration&gt;
	&lt;Description&gt;Global performance monitoring template created with PerfHelper by Pierre-Jean Deville pdeville@umanis.com&lt;/Description&gt;
	&lt;DescriptionUnresolved&gt;&lt;/DescriptionUnresolved&gt;
	&lt;DisplayName&gt;&lt;/DisplayName&gt;
	&lt;DisplayNameUnresolved&gt;&lt;/DisplayNameUnresolved&gt;
	&lt;SchedulesEnabled&gt;-1&lt;/SchedulesEnabled&gt;
	&lt;LatestOutputLocation&gt;C:\PerfLogs\Admin\Monitoring\&lt;/LatestOutputLocation&gt;
	&lt;Name&gt;Monitoring&lt;/Name&gt;
	&lt;OutputLocation&gt;C:\PerfLogs\Admin\Monitoring\&lt;/OutputLocation&gt;
	&lt;RootPath&gt;%systemdrive%\PerfLogs\Admin\Monitoring&lt;/RootPath&gt;
	&lt;Segment&gt;-1&lt;/Segment&gt;
	&lt;SegmentMaxDuration&gt;3600&lt;/SegmentMaxDuration&gt;
	&lt;SegmentMaxSize&gt;0&lt;/SegmentMaxSize&gt;
	&lt;SerialNumber&gt;1&lt;/SerialNumber&gt;
	&lt;Server&gt;&lt;/Server&gt;
	&lt;Subdirectory&gt;&lt;/Subdirectory&gt;
	&lt;SubdirectoryFormat&gt;1&lt;/SubdirectoryFormat&gt;
	&lt;SubdirectoryFormatPattern&gt;&lt;/SubdirectoryFormatPattern&gt;
	&lt;Task&gt;&lt;/Task&gt;
	&lt;TaskRunAsSelf&gt;0&lt;/TaskRunAsSelf&gt;
	&lt;TaskArguments&gt;&lt;/TaskArguments&gt;
	&lt;TaskUserTextArguments&gt;&lt;/TaskUserTextArguments&gt;
	&lt;UserAccount&gt;SYSTEM&lt;/UserAccount&gt;
	&lt;Security&gt;O:BAG:S-1-5-21-387907808-662685507-2713170849-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;FR;;;LU)(A;;0x1301ff;;;S-1-5-80-2661322625-712705077-2999183737-3043590567-590698655)(A;ID;FA;;;SY)(A;ID;FA;;;BA)(A;ID;0x1200ab;;;LU)(A;ID;FR;;;AU)(A;ID;FR;;;LS)(A;ID;FR;;;NS)&lt;/Security&gt;
	&lt;StopOnCompletion&gt;0&lt;/StopOnCompletion&gt;
	&lt;PerformanceCounterDataCollector&gt;
		&lt;DataCollectorType&gt;0&lt;/DataCollectorType&gt;
		&lt;Name&gt;DataCollector01&lt;/Name&gt;
		&lt;FileName&gt;&lt;/FileName&gt;
		&lt;FileNameFormat&gt;3&lt;/FileNameFormat&gt;
		&lt;FileNameFormatPattern&gt;&lt;/FileNameFormatPattern&gt;
		&lt;LogAppend&gt;-1&lt;/LogAppend&gt;
		&lt;LogCircular&gt;0&lt;/LogCircular&gt;
		&lt;LogOverwrite&gt;0&lt;/LogOverwrite&gt;
		&lt;LatestOutputLocation&gt;C:\PerfLogs\Admin\Perf 01\Perf_01_BDD_2013-04-30.blg&lt;/LatestOutputLocation&gt;
		&lt;DataSourceName&gt;&lt;/DataSourceName&gt;
		&lt;SampleInterval&gt;15&lt;/SampleInterval&gt;
		&lt;SegmentMaxRecords&gt;0&lt;/SegmentMaxRecords&gt;
		&lt;LogFileFormat&gt;2&lt;/LogFileFormat&gt;"
    
    XmlTemplateEnd="	&lt;/PerformanceCounterDataCollector&gt;
	&lt;Schedule&gt;
		&lt;StartDate&gt;7/25/2012&lt;/StartDate&gt;
		&lt;EndDate&gt;&lt;/EndDate&gt;
		&lt;StartTime&gt;&lt;/StartTime&gt;
		&lt;Days&gt;127&lt;/Days&gt;
	&lt;/Schedule&gt;
	&lt;DataManager&gt;
		&lt;Enabled&gt;0&lt;/Enabled&gt;
		&lt;CheckBeforeRunning&gt;0&lt;/CheckBeforeRunning&gt;
		&lt;MinFreeDisk&gt;0&lt;/MinFreeDisk&gt;
		&lt;MaxSize&gt;0&lt;/MaxSize&gt;
		&lt;MaxFolderCount&gt;0&lt;/MaxFolderCount&gt;
		&lt;ResourcePolicy&gt;0&lt;/ResourcePolicy&gt;
		&lt;ReportFileName&gt;report.html&lt;/ReportFileName&gt;
		&lt;RuleTargetFileName&gt;report.xml&lt;/RuleTargetFileName&gt;
		&lt;EventsFileName&gt;&lt;/EventsFileName&gt;
	&lt;/DataManager&gt;
&lt;/DataCollectorSet&gt;"
    >
    <SystemCategories>
      <!-- General System counters -->
      <Category Name="Processor" Instances="_Total">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="% Privileged Time" />
        </Counters>
      </Category>
      <Category Name="LogicalDisk" Instances="(?!_Total)(?!HarddiskVolume.*).*">
        <Counters>
          <Counter Name="Avg. Disk sec/Read" />
          <Counter Name="Avg. Disk sec/Write" />
          <Counter Name="Disk Reads/sec" />
          <Counter Name="Disk Writes/sec" />
          <Counter Name="Disk Read Bytes/sec" />
          <Counter Name="Disk Write Bytes/sec" />
          <Counter Name="Free Megabytes" />
        </Counters>
      </Category>
      <Category Name="Memory">
        <Counters>
          <Counter Name="Available MBytes" />
          <Counter Name="Free &amp; Zero Page List Bytes" />
          <Counter Name="Cache Bytes" />
          <Counter Name="Committed Bytes" />
          <Counter Name="% Committed Bytes In Use" />
          <Counter Name="Pages/sec" />
          <Counter Name="Page Faults/sec" />
          <Counter Name="Pages Input/sec" />
          <Counter Name="Pages Output/sec" />
        </Counters>
      </Category>
      <Category Name="Paging File" Instances="_Total">
        <Counters>
          <Counter Name="% Usage" />
        </Counters>
      </Category>
      <Category Name="System">
        <Counters>
          <Counter Name="Processor Queue Length" />
          <Counter Name="Context Switches/sec" />
        </Counters>
      </Category>
      <Category Name="Network Interface" Instances="(?!_Total)(?!isatap\..*)(?!Teredo Tunneling.*).*">
        <Counters>
          <Counter Name="Bytes Sent/sec" />
          <Counter Name="Bytes Received/sec" />
          <Counter Name="Output Queue Length" />
          <Counter Name="Packets Received Errors" />
        </Counters>
      </Category>
    </SystemCategories>

    <AspNetCategories>
      <!-- ASP.Net  counters -->
      <Category Name="ASP\.NET Apps v[\d\.]+" Instances="__Total__">
        <Counters>
          <Counter Name="Errors Total/Sec" />
          <Counter Name="Requests/Sec" />
          <Counter Name="Sessions Active" />
        </Counters>
      </Category>
      <Category Name="Process" Instances="w3wp.*" ForceInstances="true">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="Private Bytes" />
          <Counter Name="IO Data Operations/sec" />
          <Counter Name="IO Data Bytes/sec" />
          <Counter Name="Working Set" />
          <Counter Name="Page Faults/sec" />
        </Counters>
      </Category>
    </AspNetCategories>

    <MsSqlCategories>
      <!-- SQL Server DB counters -->
      <Category Name="(SQLServer|MSSQL\$.*):Buffer Manager">
        <Counters>
          <Counter Name="Page life expectancy" />
          <Counter Name="Buffer cache hit ratio" />
          <Counter Name="Lazy writes/sec" />
          <Counter Name="Free list stalls/sec" />
          <Counter Name="Free pages" /><!-- SQL 2008 R2 and before -->
        </Counters>
      </Category>
      <Category Name="(SQLServer|MSSQL\$.*):Memory Manager">
        <Counters>
          <Counter Name="Granted Workspace Memory \(KB\)" />
          <Counter Name="Total Server Memory \(KB\)" />
          <Counter Name="Memory Grants Pending" />
          <Counter Name="Free Memory (KB)" /><!-- SQL 2012 and after -->
        </Counters>
      </Category>
      <Category Name="(SQLServer|MSSQL\$.*):SQL Statistics">
        <Counters>
          <Counter Name="Batch Requests/sec" />
          <Counter Name="SQL Compilations/sec" />
          <Counter Name="SQL Re-Compilations/sec" />
        </Counters>
      </Category>
      <Category Name="(SQLServer|MSSQL\$.*):General Statistics">
        <Counters>
          <Counter Name="User Connections" />
          <Counter Name="Processes blocked" />
        </Counters>
      </Category>
      <Category Name="(SQLServer|MSSQL\$.*):Databases" Instances="_Total">
        <Counters>
          <Counter Name="Log Flush Waits/sec" />
          <Counter Name="Log Bytes Flushed/sec" />
        </Counters>
      </Category>
      <Category Name="(SQLServer|MSSQL\$.*):Locks" Instances="_Total">
        <Counters>
          <Counter Name="Lock Waits/sec" />
        </Counters>
      </Category>
      <Category Name="Process" Instances="sqlservr.*" ForceInstances="true">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="Private Bytes" />
          <Counter Name="IO Data Operations/sec" />
          <Counter Name="IO Data Bytes/sec" />
          <Counter Name="Working Set" />
          <Counter Name="Page Faults/sec" />
        </Counters>
      </Category>
    </MsSqlCategories>
    
    <SsasCategories>
      <!-- SQL Server Analysis Services counters -->
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Cache" >
        <Counters>
          <Counter Name="Evictions/sec" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Connection" >
        <Counters>
          <Counter Name="Current connections" />
          <Counter Name="Current user sessions" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Memory" >
        <Counters>
          <Counter Name="Memory Usage KB" />
          <Counter Name="Memory Limit Low KB" />
          <Counter Name="Memory Limit High KB" />
          <Counter Name="Memory Limit Hard KB" />
          <Counter Name="Memory Limit VertiPaq KB" />
          <!-- <Counter Name="Cleaner Memory shrunk KB/sec" /> -->
          <Counter Name="Cleaner Memory shrinkable KB" />
          <Counter Name="Cleaner Memory nonshrinkable KB" />
          <Counter Name="Cleaner Current Price" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Processing" >
        <Counters>
          <Counter Name="Rows converted/sec" />
          <Counter Name="Rows processed/sec" /><!-- Old name ? -->
          <Counter Name="Rows read/sec" />
          <Counter Name="Rows written/sec" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Proc Aggregations" >
        <Counters>
          <Counter Name="Temp file bytes written/sec" />
          <Counter Name="Rows created/sec" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Proc Indexes" >
        <Counters>
          <Counter Name="Rows/sec" />
          <Counter Name="Current partitions" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Storage Engine Query" >
        <Counters>
          <Counter Name="Avg time/query" />
          <Counter Name="Calculation cache hits/sec" />
          <Counter Name="Calculation cache lookups/sec" />
          <Counter Name="Flat cache hits/sec" />
          <Counter Name="Flat cache lookups/sec" />
          <Counter Name="Dimension cache hits/sec" />
          <Counter Name="Dimension cache lookups/sec" />
          <Counter Name="Measure group cache hits/sec" />
          <Counter Name="Measure group cache lookups/sec" />
        </Counters>
      </Category>
      <Category Name="(MSAS[\d ]+|MSOLAP\$.*):Threads" >
        <Counters>
          <!-- <Counter Name="Query pool idle threads" /> -->
          <Counter Name="Query pool busy threads" />
          <Counter Name="Query pool job queue length" />
          <Counter Name="Query pool job rate" />
          <!-- <Counter Name="Processing pool idle threads" /> -->
          <Counter Name="Processing pool busy threads" />
          <!-- <Counter Name="Processing pool idle non-I/O threads" /> -->
          <Counter Name="Processing pool busy non-I/O threads" />
          <Counter Name="Processing pool job queue length" />
          <Counter Name="Processing pool job rate" />
          <!-- <Counter Name="Processing pool idle I/O job threads" /> -->
          <Counter Name="Processing pool busy I/O job threads" />
          <Counter Name="Processing pool I/O job queue length" />
          <Counter Name="Processing pool I/O job completion rate" />
        </Counters>
      </Category>
      <Category Name="Process" Instances="msmdsrv.*" ForceInstances="true">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="Private Bytes" />
          <Counter Name="IO Data Operations/sec" />
          <Counter Name="IO Data Bytes/sec" />
          <Counter Name="Working Set" />
          <Counter Name="Page Faults/sec" />
        </Counters>
      </Category>
    </SsasCategories>

    <SsisCategories>
      <!-- SQL Server Integration Services counters -->
      <Category Name="SQLServer:SSIS Pipeline.*" >
        <Counters>
          <Counter Name="Buffer memory" />
          <Counter Name="Buffers in use" />
          <Counter Name="Buffers spooled" />
        </Counters>
      </Category>
      <Category Name="Process" Instances="DTExec.*|ISServerExec.*" ForceInstances="true">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="Private Bytes" />
          <Counter Name="IO Data Operations/sec" />
          <Counter Name="IO Data Bytes/sec" />
          <Counter Name="Working Set" />
          <Counter Name="Page Faults/sec" />
        </Counters>
      </Category>
    </SsisCategories>

    <SsrsCategories>
      <!-- SQL Server Reporting Services counters -->
      <Category Name="MSRS .+ Web Service" Instances="*"> <!-- Instances are visible only when the web app is loaded and the web app is loaded when a user visit t ... -->
        <Counters>
          <Counter Name="Active Sessions" />
          <Counter Name="Report Requests" />
          <Counter Name="Requests/Sec" />
        </Counters>
      </Category>
      <Category Name="Process" Instances="ReportingServicesService.*|RSConfigTool.*|RSHostingService.*|RSManagement.*|RSOffice.*|RSPortal.*|RSPowerBI" ForceInstances="true">
        <Counters>
          <Counter Name="% Processor Time" />
          <Counter Name="Private Bytes" />
          <Counter Name="IO Data Operations/sec" />
          <Counter Name="IO Data Bytes/sec" />
          <Counter Name="Working Set" />
          <Counter Name="Page Faults/sec" />
        </Counters>
      </Category>
    </SsrsCategories>
  </PerfHelperConfig>
<startup><supportedRuntime version="v2.0.50727" /></startup></configuration>
